<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="ZH_CN">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>杭州众兆科技有限公司</title>
	<link rel="icon" type="image/x-icon" th:href="@{/static/front/media/logos/zz.jpg}" />

	<link th:href="@{/static/front/css/master.css}" rel="stylesheet">

	<!-- 样式文件 -->
	<link rel="stylesheet" id="switcher-css" type="text/css" th:href="@{/static/front/assets/switcher/css/switcher.css}" media="all" />
	<link rel="alternate stylesheet" type="text/css" th:href="@{/static/front/assets/switcher/css/color1.css}" title="color1" media="all"  />
	<link rel="alternate stylesheet" type="text/css" th:href="@{/static/front/assets/switcher/css/color2.css}" title="color2" media="all" />
	<link rel="alternate stylesheet" type="text/css" th:href="@{/static/front/assets/switcher/css/color3.css}" title="color3" media="all" />
	<link rel="alternate stylesheet" type="text/css" th:href="@{/static/front/assets/switcher/css/color4.css}" title="color4" media="all" />
	<link rel="alternate stylesheet" type="text/css" th:href="@{/static/front/assets/switcher/css/color5.css}" title="color5" media="all" data-default-color="true" />

	<!--[if lt IE 9]>
	<script th:src="@{/static/front/js/html5shiv.js}"></script>
	<script th:src="@{/static/front/js/respond.min.js}"></script>
	<![endif]-->
</head>
<body>
<div id="page-preloader"><span class="spinner"></span></div>
<div th:include="front/quote :: Ccolors"></div>
<div th:include="front/quote :: header"></div>
<div th:include="front/quote :: navbar"></div>

<section class="status dark-bg dark-bg--status">
	<div class="container wow slideInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
		<div class="breadcumb">
			<a href="/" class="breadcumb__page no-decoration">首页</a>
			<span class="breadcumb__del no-decoration">&raquo;</span>
			<a href="news" class="breadcumb__page no-decoration">论坛</a>
		</div>
		<h2 class="title title--page"><span class="title__bold">众兆产品</span> 论坛</h2>
	</div>
</section>

<div class="blog-page">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-sm-8 col-xs-7">
				<div class="blog-main" >
					<div class="articles" th:each="n:${page.getContent()}">
						<div class="article"  >
							<div class="blog-date triangle triangle&#45;&#45;big wow slideInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
								<div class="blog-date__num">
									<strong th:text="${#dates.format(n.news_date, 'yyyy年M-dd日')}"></strong>
								</div>
							</div>
							<div class="article__img wow slideInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
								<a th:href="'newdetails?id='+${n.id}"><img th:src="@{/static/front/media/news/{img}(img=${n.news_tag})}" alt="blog" class="img-responsive" /></a>
								<p th:text="${n.news_title}"></p>
							</div>
							<div class="article__comments-author wow slideInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
								<span class="article__author" th:text="'作者：'+${n.news_anthor}"><span class="fa fa-user"></span></span>
							</div>
						</div>
					</div>
					<div class="pagination wow slideInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<span class="pagination__text" th:text="'页数'+${page.number+1}+'/'+${page.totalPages}"></span>
						<span class="pagination__row">
							<a th:if="${page.number}>${page.totalPages-1}" th:href="'news?start='+${page.number-1}" class="pagination__cell pagination__cell--nav no-decoration">《《</a>
							<a th:if="${page.number}<${page.totalPages-1}" th:href="'news?start='+${page.number+1}" class="pagination__cell pagination__cell--nav no-decoration">》》</a>
							<a th:href="'news?start='+${page.totalPages-1}" class="pagination__cell pagination__cell--nav no-decoration">末页</a>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-5">
				<aside class="blog-aside">
					<div class="blog-aside__block wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<h3 class="blog-title">搜索<span class="line line--title line--blog-title"><span class="line__first"></span><span class="line__second"></span></span></h3>
						<form action="" method="post">
							<div class="relative-pos"><input placeholder="输入关键字搜索" class="search-input" type="text" name="search" /><button type="submit"><span class="fa fa-search"></span></button></div>
						</form>
					</div>
					<div class="blog-aside__block wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<h3 class="blog-title">新闻分类<span class="line line--title line--blog-title"><span class="line__first"></span><span class="line__second"></span></span></h3>
						<div class="categories">
							<div class="categories__one" th:each="dateN:${date}">
								<header class="categories__head clearfix">
									<h5 class="pull-left" th:if="${dateN.getStrNewsDate()}!=${datane}" th:with="datane=${dateN.getStrNewsDate()}" th:text="${datane}"><a class="no-decoration" href="#"></a></h5>
								</header>
								<p class="categories__desc">产业最前沿消息</p>
							</div>
							<div class="categories__one">
								<header class="categories__head clearfix">
									<h5 class="pull-left"><a class="no-decoration" href="#"></a>自动化工业生产</h5>
									<div class="categories__count pull-right">[5]</div>
								</header>
								<p class="categories__desc">产业最前沿消息</p>
							</div>
							<div class="categories__one">
								<header class="categories__head clearfix">
									<h5 class="pull-left"><a class="no-decoration" href="#">自动化工业生产</a></h5>
									<div class="categories__count pull-right">[12]</div>
								</header>
								<p class="categories__desc">产业最前沿消息</p>
							</div>
							<div class="categories__one">
								<header class="categories__head clearfix">
									<h5 class="pull-left"><a class="no-decoration" href="#">自动化工业生产</a></h5>
									<div class="categories__count pull-right">[3]</div>
								</header>
								<p class="categories__desc">产业最前沿消息</p>
							</div>
						</div>
					</div>
					<div class="blog-aside__block wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<h3 class="blog-title">关于众兆新闻<span class="line line--title line--blog-title"><span class="line__first"></span><span class="line__second"></span></span></h3>
						<div class="blog-aside__about">
							<p class="blog-text">Nunc molestie sapien tempor placerater ras et lectus. Etiam sit amet turpis disce et lerat.   Proin a ipsum vitae orci pords tristiqu nased  Lorem ipsum dolor sit amet consect eturdsb adipisicing elit sed do eiusmod.</p>
							<div class="social-blocks">
								<div class="row row--no-padding">
									<div class="col-xs-4">
										<div class="social-blocks__one social-blocks__one--fb">
											<div class="social-blocks__logo">
												<span class="fa fa-facebook"></span>
											</div>
											<a href="#" class="social-blocks__action no-decoration">Like</a>
										</div>
									</div>
									<div class="col-xs-4">
										<div class="social-blocks__one social-blocks__one--twitter">
											<div class="social-blocks__logo">
												<span class="fa fa-twitter"></span>
											</div>
											<a href="#" class="social-blocks__action no-decoration">Follow</a>
										</div>
									</div>
									<div class="col-xs-4">
										<div class="social-blocks__one social-blocks__one--google">
											<div class="social-blocks__logo">
												<span class="fa fa-google-plus"></span>
											</div>
											<a href="#" class="social-blocks__action no-decoration">ADD</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</aside>
			</div>
		</div>
	</div>
</div><!--blog-page-->

<div th:include="front/quote :: conus"></div>
<div th:include="front/quote :: consultation"></div>
<script th:src="@{/static/front/js/jquery-1.11.3.min.js}"></script>
<script th:src="@{/static/front/js/bootstrap.min.js}"></script>
<script th:src="@{/static/front/js/modernizr.custom.js}"></script>
<script th:src="@{/static/front/assets/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js}"></script>
<script th:src="@{/static/front/js/waypoints.min.js}"></script>
<script th:src="@{/static/front/js/jquery.easypiechart.min.js}"></script>
<script th:src="@{/static/front/js/classie.js}"></script>
<script th:src="@{/static/front/assets/switcher/js/switcher.js}"></script>
<script th:src="@{/static/front/assets/owl-carousel/owl.carousel.min.js}"></script>
<script th:src="@{/static/front/assets/bxslider/jquery.bxslider.min.js}"></script>
<script th:src="@{/static/front/assets/slider/jquery.ui-slider.js}"></script>
<script th:src="@{/static/front/assets/isotope/isotope.js}"></script>
<script th:src="@{/static/front/assets/slider/jquery.ui-slider.js}"></script>
<script th:src="@{/static/front/assets/fancybox/jquery.fancybox.pack.js}"></script>
<script th:src="@{/static/front/js/jquery.smooth-scroll.js}"></script>
<script th:src="@{/static/front/js/wow.min.js}"></script>
<script th:src="@{/static/front/js/jquery.placeholder.min.js}"></script>
<script th:src="@{/static/front/js/theme.js}"></script>
</body>
</html>
